gris-oscuro = #444
azul = #22bce0
body
	background #e8e8e8
	font-family Arial
	color gris-oscuro
	font-size 16px
	
header
	background gris-oscuro
	color white
	paddin 0.5em
	
	.logo
		width 60px
		border-right 1px solid azul
		
		img
			width 52px
	
	.titular
		margin 0 80px 0 100px
		
		.titulo
			font-size 18px
			font-weight normal
			
.left
	float: left
.right
	float right
